{{ partial "header.html" . }}

<header class="header">
    <nav class="text-small">
        <a href="{{ .Site.BaseURL }}" title="Wherd">
            <span class="sr-only">Wherd</span>
            <span class="text-bold" aria-hidden="true" rel="presentation">( ︶︿︶)</span>
        </a>
        / Blog
    </nav>
</header>

<main id="main">
    <h1 class="sr-only">Posts</h1>
    {{ range .Data.Pages.GroupByDate "2006" }}
    <section class="archive">
        <h2 class="text-inline">{{ .Key }}</h2>
        <ul class="text-inline">
            {{ range .Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </section>
    {{ end }}
</main>
{{ partial "footer.html" . }}