/* Defaults */
html {
    font-size: 18px;
    font-feature-settings: normal;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
    max-width: 40em;
    margin: 0 auto;
    padding: 2em;
    line-height: 1.6;
    counter-reset: steps;
    background-color: #1f1f20;
    color: #f0f0f0
}

h1, h2, h3 {
    margin-top: 2em;
    line-height: 1.1;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: #f0f0f0;
}

blockquote {
    margin-left: 0;
    padding-left: 1em;
    border-left: 5px solid #333;
    font-style: italic;
    color: #999;
}

figure {
    margin: 1em 0;
}

figcaption {
    font-size: 0.7em;
    color: #999;
}

figcaption:before {
    content: "- ";
}

img {
    width: 100%;
    height: auto;
}

pre, code {
    font-family: Monaco, Consolas, monospace;
}

pre {
    overflow: hidden;
    color: #999;
}

pre:hover {
    overflow: visible;
}

code {
    font-size: 0.8em;
}

.sr-only {
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.header {
    position: sticky;
    top: 0;
    padding: .5em 0;
    font-style: italic;
    background-color: #1f1f20;
    color: #f0f0f0
}

.header a {
    text-decoration: none;
}

/* Text styles */
.text-lead {
    font-size: 1.2em;
}

.text-small {
    font-size: 0.75em;
}

.text-xsmall {
    font-size: 0.65em;
}

.text-inline {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
    vertical-align: top;
}

h2.text-inline, h3.text-inline {
    margin-top: 0;
    line-height: 1.1;
}

.text-mono {
    font-family: Monaco, Consolas, monospace;
}

.text-bold {
    font-weight: 800;
}

.emoji {
    color: transparent;  
    text-shadow: 0 0 0 #f0f0f0;
}

/* archive */
.archive {
    margin-top: 4em;
}

/* Single article */
.single-header h1 {
    margin-bottom: 0;
}

.single-header p {
    color: #999;
    font-size: 0.8em;
}

.single-content ul {
    list-style: disc;
    margin-left: 1em;
}

.single-pagination {
    display: flex;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.single-pagination a {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border: 4px solid #000;
    padding: 0.5em 1.2em;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: #000;
}

.single-pagination a:hover {
    color: #000;
    background-color: #fff;
}

.single-pagination__previous::after {
    content: "\00AB";
    position: absolute;
    left: 0.5em;
}

.single-pagination__next::after {
    content: "\00BB";
    position: absolute;
    right: 0.5em;
}