{{ partial "header.html" . }}
<header class="header">
    <nav>
        <a href="{{ .Site.BaseURL }}" title="Voltar à página inicial">
            <span class="sr-only">Voltar à página inicial</span>
            <span class="text-bold" aria-hidden="true" rel="presentation">( ︶︿︶)</span>
        </a>
    </nav>
</header>

<main id="main"></main>
    <h1>Oops! Página não encontrada.</h1>
    <p>A página que estás a tentar aceder não existe ou está temporariamente indisponível.</p>
    <p>Volta para <a href="/" title="Voltar para a página inicial">página inicial</a> ou navega pelos <a href="/artigos" title="Vê uma lista de todos os artigos publicados">artigos publicados</a>.</p>
</main>
{{ partial "footer.html" . }}