{{ partial "header.html" . }}
<header class="header">
    <nav>
        <a href="{{ .Site.BaseURL }}" title="Return to home page">
            <span class="sr-only">Navigate to home page</span>
            <span class="text-bold" aria-hidden="true" rel="presentation">( ︶︿︶)</span>
        </a>
    </nav>
</header>

<main id="main"></main>
    <h1>Oops! Page not found.</h1>
    <p>The page you are trying to access does not exist or is temporarily unavailable.</p>
    <p>Return to <a href="/" title="Return to home page">home page</a> or browse by <a href="/writing" title="See a list of all published articles">list of articles</a>.</p>
</main>
{{ partial "footer.html" . }}