{{ partial "header.html" . }}
<header class="header">
    <nav>
        <a href="{{ .Site.BaseURL }}" title="Wherd">
            <span class="sr-only">Wherd</span>
            <span class="text-bold" aria-hidden="true" rel="presentation">( ︶︿︶)</span>
        </a>
    </nav>
</header>

<main id="main"></main>
    <h1>Oops! Page not found.</h1>
    <p>The page you are trying to access does not exist or is temporarily unavailable</p>
    <p>Back to <a href="/" title="Go back to homepage">homepage</a>.</p>
</main>
{{ partial "footer.html" . }}