{{ partial "header.html" . }}
<header class="header">
    <nav class="text-small">
        <a href="{{ .Site.BaseURL }}" title="Voltar à página inicial">
            <span class="sr-only">Voltar à página inicial</span>
            <span class="text-bold" aria-hidden="true" rel="presentation">( ︶︿︶)</span>
        </a>
    </nav>
</header>

<main id="main">
    <h1><span class="emoji">👋</span> Olá!</h1>
    <p class="text-lead">
        Sou Wherd, um programador full-stack que adora transformar ideias em realidade por meio de linhas de código.
        Além da programação, sou um grande fã de séries televisivas que me mantêm colado ao ecrã e de música que define o ambiente para as minhas sessões criativas.
        Estou entusiasmado por te ter ao meu lado nesta jornada extraordinária!</p>
    <nav>
        <a title="Vê uma lista de todos os artigos publicados" href="{{ .Site.BaseURL }}/writing/">{ Artigos }</a>,
        <a title="Explora os livros que estou a ler" href="{{ .Site.BaseURL }}/reading/">{ Leitura }</a>,
        <a target="_blank" title="Navega pelos meus projetos de código aberto" href="https://github.com/wherd">{ Programação }</a>
        <div class="pt-4">
            <a target="_blank" title="Ofereces-me um café?" href="https://ko-fi.com/wherd">{ Ofereces-me um café? }</a>
        </div>
    </nav>
</main>
{{ partial "footer.html" . }}